version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "3001:3002"
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend

